.widget-contents {
    display: flex;
    cursor: pointer;
    position: sticky;
    
  }
  
  .widget-content {
    margin: 5px;
    display: flex;
    padding: 5px;
    /* border-bottom: 1px solid lightgray; */
    
  }
  
  .widget-content > img {
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 10px;
  }
  
  .widget-contentTitle {
    margin-left: 10px;
  }
  
  .widget-contentTitle > h5 {
    color: rgb(70, 68, 68);
  }
  
  .widget-contentTitle > p {
    color: gray;
    font-size: small;
  }
  